<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetLib.Properties.Settings>
            <setting name="Accent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
        </NetLib.Properties.Settings>
    </userSettings>
</configuration>